<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
</head>
<body>
    
    <section>
        <div class="container">
          <div class="contactinfo">
            <form action="/contact" method="post">
                <div>
                <h2>Contact Info</h2>
              <ul class="info">
                <li>
                  <span><i class="fas fa-street-view"></i></span>
                  <span>Office Address, ABC Road, Thane, India</span>
                </li>
                <li>
                  <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <span>mymail@gmail.com</span>
                </li>
                <li>
                  <span><i class="fas fa-phone-alt"></i></span>
                  <span>+91-9099456756</span>
                </li>
              </ul>
                
             </div>
            <ul class="sci">
                <li><a><i class="fab fa-instagram fa-2x"></i></a></li>
                <!-- <li><a><i class="fab fa-pinterest-p fa-2x"></i></a></li> -->
                <li><a><i class="fab fa-linkedin-in fa-2x"></i></a></li>
                <li><a><i class="fab fa-twitter fa-2x"></i></a></li>
              </ul>
          </div>
          <div class="contactForm">
            <h2>Send a message</h2>
            <div class="formBox">
              <div class="inputBox w50">
                <input type="text" name="first_name" required>
                <span>First name</span>
              </div>
              <div class="inputBox w50">
                <input type="text" name="last_name" required>
                <span>Last name</span>
              </div>
              <div class="inputBox w50">
                <input type="text" name="email" required/>
                <span>Email</span>
              </div>
              <div class="inputBox w50">
                <input type="text" name="phone" required>
                <span>Mobile Number</span>
              </div>
              <div class="inputBox w100">
                <textarea required name="messgage"></textarea>
                <span>Write your msg here...</span>
              </div>
              <div class="inputBox w100">
                <input type="submit" value="Send"/>
              </div>
            </div>
            </form>
            
          </div>
        </div>
        </section>    
</body>
</html>



