<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    {{!-- <link rel="stylesheet" href="css/login.css"> --}}
    <link rel="stylesheet" href="css/login.css">
    
</head>
<body>
    <div class="container">
        <div class="registration form">
            <header>Signup</header>
            <form action="/signup" method="post">
                <input type="email" placeholder="Enter your email" name="email" required>
                <input type="password" placeholder="Create a password" name="password" required >
                <input type="password" placeholder="Confirm your password" name="cpass" required>  
                <input type="submit" class="button" value="Signup">
                
            </form>
            <div class="signup">
                <span class="signup">Already have an account?
                    <a href="/signin"><label for="check">Login</label></a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>