<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signin Page</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <div class="container">
    <!-- <input type="checkbox" id="check"> -->
    <div class="login form">
      <header id="title">Signin</header>
      
      <form action="/signin" method="post">
        <input type="email" id="emailField" placeholder="Enter your email" name="email" required>
        <input type="password" required placeholder="Enter your password" name="password" > 
        <!-- <a href="">Forgot password?</a> -->
        <input type="submit" class="button" id="loginBtn" value="Login" >
      </form>

      <div class="signup">
        <span class="signup">Don't have an account?
         <a href="/signup"><label for="check" id="signupBtn">Signup</label></a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>